@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/***************/
/***Defaults***/
/*************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #000;
}



/***********/
/***Main***/
/*********/
.section_main{
    background: linear-gradient(to right,rgba(0,0,0,0.0),rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.9))
    , url('/resources/imgs/1.jpg');
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;  
    padding: 35px 10%;
    
}
/***************/
/****Navbar****/
/*************/
.navbar{
    display: flex;
    align-items: flex-end;
  
}
.navbar div{
    margin-right: 40px;
}
.navbar div a:link,
.navbar div a:visited{
    text-decoration: none;
    color: #fff;
    transition: color 0.25s;
}
.navbar div a:hover,
.navbar div a:active{
    color: #F2D0A4;
}
.navbar .navbar__logo{
 justify-content: flex-start;
}
.navbar .navbar__items{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.nav__logo_name{
    font-size: 2.5rem;
    font-weight: bold;
    color: #F2D0A4;
    border: 2px solid #F2D0A4;
    padding: 10px 25px;
}


/***************/
/***Carearan***/
/*************/
.carearan{
    position: absolute;
    top: 37%;
    right: 10%;
}
.carearan__tagline{
    margin-bottom: 43px;
}
.carearan__tagline h1{
    word-spacing: 2.5px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
    color: #fff;
}
.carearan__tagline p{
    color: #F2D0A4;
}
.carearan a{
    border: 3px solid #F2D0A4;
    border-radius: 5px;
    padding: 15px 35px;
    text-decoration: none;
    
    
}
.carearan a:first-of-type{
    margin-right: 5px;
}
.carearan__about_us:link,
.carearan__about_us:visited{
    border-color: #F2D0A4;
    background: #F2D0A4;
    color: #ffffff;
    transition: background-color 0.45s;
 
}
.carearan__our_cars:link,
.carearan__our_cars:visited{
    color: #F2D0A4;
    transition: background-color 0.45s;
}
.carearan__our_cars:hover,
.carearan__our_cars:active{
    color: #fff;
  
}

.carearan__about_us:hover,
.carearan__about_us:active,
.carearan__our_cars:hover,
.carearan__our_cars:active{
    border-color: #f1be7a;
    background: #f1be7a;
}

/************/
/***About***/
/**********/
.section__about_us{

    width: 100%;
    display: flex;
}

.about_us__title{  
    width: 45%;
    background-color: #f1be7a;
    height: auto;
    
}
.about_us__title h2{
    padding: 30% 25%;
    text-align: center;
}

.about_us__description{
    width: 55%;
    height: auto;
}
.about_us__description p{
    margin: 15% 15%;
    padding: 15px 25px;
    text-align: center;
}


.section__showoff{
    background: url('/resources/imgs/3.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60%;
    position: relative;
}

.section__showoff h2{
    position: absolute;
    bottom: 50%;
}

.section__subscription{
    height: 100vh;
    width: 80%;
}
.section__subscription h2{
    display: inline-block;
    margin-top: 25px;
    margin-left: 75px;
    border-bottom: 2px solid #c2a91c;
    padding-bottom: 15px;
}
.subscription_cards{
    height: 450px;
    width: 300px;
    /* border: 10px solid black; */
    border-radius: 5%;
    margin: 0 auto;
}
.subscript_card__image{
    height: 40%;
    /* background: #d67443; */
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background: #F2D0A4;
    padding-top: 25px;
    
}
.subscript_card__image img{
    height: 100px;
    display: block;
    margin: 0 auto 0 auto;
    width: 50%;

}
.subscript_card__image h3{
    text-align: center;
}

.subscription_card__info{
    padding: 10px 0;
}
.subscription_card__info h4{
    text-align: center;
    margin-bottom: 25px;
}
.subscription_card__info_perks{
    list-style: none;

}
.subscription_card__info_perks li{
    font-size: 0.95rem;
    text-align: center;
    margin-bottom: 5px;
    
    color: rgb(105, 102, 102);
}
