@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/***************/
/***Defaults***/
/*************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #000;
  scroll-behavior: smooth;
}

/***********/
/***Main***/
/*********/
.section_main {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.9)
    ),
    url("/resources/imgs/1media.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative; 
}
.navbar {
  display: none;
}

.carearan {
  height: 100%;
  width: 100%;
  color: #f2d0a4;
  font-size: 1.5rem;
  text-align: center;
  padding: 325px 35px 50px 35px;
}
/***************/
/***Carearan***/
/*************/
.carearan__tagline {
  margin-bottom: 43px;
}
.carearan__tagline h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}
.carearan__tagline p {
  font-size: 1rem;
}
.carearan a {
    display: block;
    margin-bottom: 10px;
  border: 1px solid #f2d0a4;
  border-radius: 5px;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 1rem;
}
/* .carearan a:first-of-type {
  margin-right: 5px;
} */
.carearan__about_us:link,
.carearan__about_us:visited {
  border-color: #f2d0a4;
  background: #f2d0a4;
  color: #ffffff;
  transition: background-color 0.45s;
}
.carearan__our_cars:link,
.carearan__our_cars:visited {
  color: #f2d0a4;
  transition: background-color 0.45s;
}
.carearan__our_cars:hover,
.carearan__our_cars:active {
  color: #fff;
}

.carearan__about_us:hover,
.carearan__about_us:active,
.carearan__our_cars:hover,
.carearan__our_cars:active {
  border-color: #f1be7a;
  background: #f1be7a;
}

   /************/
    /***About***/
    /**********/
    .section__about_us{
        width: 100%;
        display: block;
        background-color: #f1be7a;
    }
    
    .about_us__title h2{
        padding-top: 5%;
        text-align: center;
    }
    .about_us__description p{
        padding-bottom: 15% ;
        text-align: center;
    }
    .section__showoff{
        display: none;
    }



    .section__subscription{
        width: 100%;
       
    }

    .subscription{
        display: block;
        margin-bottom: 45px;
    }
    .section__subscription h2{
        display: block;
        width: 80%;
        margin: 0 auto 55px auto;
        border-bottom: 2px solid #c2a91c;
        padding: 35px 0;
        text-align: center;
    }
    .subscription_cards{
        height: 100%;
        width: 300px;
        /* border: 10px solid black; */
        border-radius: 5%;
        margin: 10px auto;
       
    }
    .subscript_card__image{
        height: 40%;
        /* background: #d67443; */
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        background: #F2D0A4;
        padding-top: 25px;
        width: 100%;
        
    }
    .subscript_card__image img{
        height: 100px;
        display: block;
        margin: 0 auto ;
        width: auto;
    
    }
    .subscript_card__image h3{
        text-align: center;
    }
    
    .subscription_card__info{
        padding: 10px 0;
        border-left: 2px solid #F2D0A4;
        border-right: 2px solid #F2D0A4;
        border-bottom: 2px solid #F2D0A4;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
    }
    .subscription_card__info h4{
        text-align: center;
        margin-bottom: 25px;
    }
    .subscription_card__info_perks{
        /* list-style: none; */
        padding: 0 25px;
    
    }
    .subscription_card__info_perks li{
        font-size: 0.95rem;
        /* text-align: center; */
        margin-bottom: 8px;
        color: rgb(105, 102, 102);
    }
    
    .subscription_card__info a:link,
    .subscription_card__info a:visited{
        display: block;
        width: 50%;
        text-decoration: none;
        margin: 35px auto 25px auto;
        text-align: center;
        border: 3px solid #F2D0A4;
        border-radius: 5%;
        padding:5px 10px;
        color: #000;
        transition: background-color 0.5s;
    }
    
    .subscription_card__info a:hover,
    .subscription_card__info a:active{ 
        background-color: #F2D0A4;
    }



    .section__contacts{
        background-color: #f1be7a;
        width: 100%;
        
    }
    .section__contacts img{
        height: 30px;
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .section__contacts h2{
        width: 80%;
        margin: 0 auto 55px auto;
        padding: 15px 0;
        text-align: center;
        border-bottom: 2px solid #000;
    }
    
    .section__contact_info {
        width: 60%;
        margin: 65px auto;
        
    }
    .section__contact_info h3{
        font-size: 0.8rem;
        display: block;
        text-align: center;
        margin-top: 15px;

    }
    .section__contact_infos:last-child{
        padding-bottom: 5px;
    }

    footer{
        background-color: #000;
    }
    
    .footer__navbar{
        padding-top: 25px;
        list-style: none;
        
    }
    .footer__navbar li{
        text-align: center;
        margin-bottom: 15px;
        
    }
    .footer__navbar li a{
        color: #fff;
        text-decoration: none;
        
    }
    .footer_border{
        border-bottom: 1px solid rgb(180, 176, 176);
    }
    .copyright{
        text-align: center;
        display: block;
        color: blanchedalmond;
        font-size: .5rem;
        padding: 2%;
       
    }